
.Fondo {
    width: 100%; /* Ancho del contenedor */
    height: auto;/* Alto del contenedor */
    background-image: url('https://media.istockphoto.com/vectors/kawaii-cart-shopping-empty-supermarket-cartoon-vector-id861896034?k=20&m=861896034&s=170667a&w=0&h=56b6OnZc6Vs3-_jiwfbmKm_X7y07uBq3nyjVkPhe_Bs='); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajuste de tamaño de la imagen de fondo */
    background-position: center; /* Posición centrada de la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
}

body{

    background-image: url('https://usagif.com/wp-content/uploads/gif/confetti-18.gif'); 
    background-size: cover; /* Ajusta la imagen para cubrir toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
    height: 100vh; /* Ajusta la altura del body al 100% del viewport height (pantalla) */
}