.col{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content:space-around; /* Centra horizontalmente los elementos hijos */
  }
  
  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ff2e73;
  }
  
  @media (max-width: 991px) {
     .img-curso{
      max-width: 325px;
    }
  }
  
  
  @media (min-width: 991px) {
    .img-curso{
      display: flex;
      max-width: 100%;
    }
  }
  
  /* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
   
  
  /* Estilo para el título principal */
  h5.card-title {
    color: #D84A40;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 55px;
    margin-bottom: 20px;
    
  }
  
  /* Estilo para el texto en Curso */
  .texto {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    text-align: justify;
  }
  
  /* Estilo para los subtítulos */
  .subtitulo {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .card-icon {
    width: 3rem;
    padding-right: 10px;
    
  }
  
  .img-curso{
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    height: 500px; 
    position: relative;
    padding: 1rem;
    margin: 1rem;
    
  }
  .container{
    margin-bottom: 100px; 
  }
  .btn {
  width: 50%; 
  height: auto; 
  color: white; 
  background-color: #DD7979;
  
  }
  
  .btn:hover {
  background-color: #DD7979;
  
  }
  
  /**LO SIGUIENTE ES PARA ANCLAR EL FOOTER HSTA LA PARTE DE ABAJO DE LA PAGINA */
  body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Divide la página en tres filas: auto, 1fr (fraccionada) y auto */
    min-height: 100vh; /* Establece el alto mínimo del cuerpo para ocupar al menos toda la altura de la ventana */
  }
  