/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */
.card {
  background: linear-gradient(
    -45deg,
    rgba(182, 41, 41, 0.242) 100px,
    transparent 0
  );
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  height: 400px;
  padding: 10px 15px 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 230px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  height: 440px;
  width: 250px;
  font-size: 15px;
}

.card-h1 {
  font-size: 13px;
  letter-spacing: 2.5px;
  margin: 5px 0 15px;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}

.card-h2 {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.card-p {
  font-size: 10px;
  font-weight: 300;
  line-height: 19px;
  margin: 5px auto 5px;
  width: 100%;
  text-align: justify;
  flex-grow: 1;
}

.card-img {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .card-botones {
  margin-top: 30px;
}

.card-botones {
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-boton {
  width: 25px;
  margin-left: 25px;
}

.imagen_Eduardo {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Eduardo.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

h4{
  color: black;
  font-size: xx-large;
  font-weight: 1000;
  
}


.card .imagen_Eduardo:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/eduardo-galleta.png);
}

.imagen_Paola {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Paola.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Paola:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasPao.jpg);
}

.imagen_Daniel {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/fotodaniel.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Daniel:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletadaniel.jpg);
}

.imagen_Melanie {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Melanie.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Melanie:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaMel.jpg);
}

.imagen_Vane {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Vane.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Vane:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasVane.jpeg);
}

.imagen_Ana {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/Ana.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Ana:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletasAna.jpg);
}

.imagen_Jezer {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/fotoJezer.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Jezer:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaJezer.jpg);
}

.imagen_Luis {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  height: 50%;
  width: auto;
  background-image: url(/src/fotos-team/fotoLuisLeobardo.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: center;
  transition: 300ms;
  filter: drop-shadow(5px -4px 10px rgba(0, 0, 0, 0.604));
}

.card .imagen_Luis:hover {
  transform: translate(0px);
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  background-image: url(/src/fotos-team/galletaLuis.png);
}

/* CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS */

/* HEADER  */
/* header {
  font-family: "Comic Neue";
} */

/* .custom-bg-rosa {
  background-color: #ffdad8;
  /* Color rosa claro en hexadecimal 
} */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-left: 10px;
}
/* HEADER */
/* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* .col {
  justify-content: center;
} */

/* .barra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
} */

/* .navegacion {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
} */

/* h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff2e73;
} */

/* 
@media (max-width: 768px) {

  .barra {
    flex-direction: column;
    text-align: center;
  }

  .navegacion {
    flex-direction: column;
    align-items: center;
  }

  .seccion {
    margin: 10px 0;
    
  }
}  */

/* FOOTER  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/* Carousel*/

.container-carousel {
  max-width: 500px;
  margin: 0 auto;

}

/**LO SIGUIENTE ES PARA ANCLAR EL FOOTER HSTA LA PARTE DE ABAJO DE LA PAGINA */
 /* body {  */
  /* margin: 0;
  padding: 0;
  display: grid;  */
  /* grid-template-rows: auto 1fr auto; /* Divide la página en tres filas: auto, 1fr (fraccionada) y auto */
 /* min-height: 100vh; Establece el alto mínimo del cuerpo para ocupar al menos toda la altura de la ventana *
}  
 /* Estilo para las card de productos  */

#list-items{
  display: flex;
  flex-flow: wrap;
  justify-content:center;
  
}


